alabaster==0.7.11
asn1crypto==0.24.0
Babel==2.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
coverage==4.5.1
cryptography==2.3
cryptography-vectors==2.3
docutils==0.14
get==1.0.3
gitdb==0.6.4
GitPython==0.3.6
idna==2.7
imagesize==1.0.0
Jinja2==2.10
MarkupSafe==1.0
nose==1.3.7
packaging==17.1
post==1.0.2
public==1.0.3
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
pypi-publisher==0.0.4
PySocks==1.6.8
pytz==2018.5
query-string==1.0.2
request==1.0.2
requests==2.20.0
six==1.11.0
smmap==0.9.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-rtd-theme==0.4.1
sphinxcontrib-websupport==1.1.0
urllib3==1.24.2
